### R data Types

In [5]:
class("2.2")

[1] "character"

### vector

In [10]:
nvec <- c(1,2,3,5,6)
nvec
class(nvec)

v <- c("USA",20,21)
v

[1] 1 2 3 5 6

[1] "numeric"

[1] "USA" "20"  "21"

In [14]:
temps <- c(21,23,56,33,22,74,21)
names(temps) <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')
temps

#or 

days <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')
names(temps) <- days

Mon Tue Wed Thu Fri Sat Sun
 21  23  56  33  22  74  21

#### vector operations

In [20]:
v1 <- c(1,2,3)
v2 <- c(5,6,7)
v1 + v2
v1 - v2
v1 * v2
sum(v1)
mean(v1)
max(v1)
prod(v2)

[1]  6  8 10

[1] -4 -4 -4

[1]  5 12 21

[1] 6

[1] 2

[1] 3

[1] 210

#### vector indexing and slicing

In [24]:
v1 <- c(100,200,300)
v2 <- c('a','b','c')
v1[2]
v1[c(1,2)]

[1] 200

[1] 100 200

In [29]:
v <- c(1,2,3,4,5,6,7,8,9,10)
v[2:4]
v[7:10]

[1] 2 3 4

[1]  7  8  9 10

In [35]:
vec <- c(1,2,3,4)
names(vec) <- c('a','b','c','d')
vec[2]
vec['b']
vec > 2
help(vector)

b
2

b
2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

### Data Frames

In [38]:
head(state.x77)

           Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766

In [46]:
##data() # displays all the datasets available to use
str(state.x77)
summary(state.x77)

## create data.frame from vectors
days <- c('Mon','Tue','Wed','Thur','Fri')
temp <- c(22.2,21,43,21,23)
rain <- c(T,T,F,T,T)

df <- data.frame(days,temp,rain)

 num [1:50, 1:8] 3615 365 2212 2110 21198 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:50] "Alabama" "Alaska" "Arizona" "Arkansas" ...
  ..$ : chr [1:8] "Population" "Income" "Illiteracy" "Life Exp" ...

   Population        Income       Illiteracy       Life Exp
 Min.   :  365   Min.   :3098   Min.   :0.500   Min.   :67.96
 1st Qu.: 1080   1st Qu.:3993   1st Qu.:0.625   1st Qu.:70.12
 Median : 2838   Median :4519   Median :0.950   Median :70.67
 Mean   : 4246   Mean   :4436   Mean   :1.170   Mean   :70.88
 3rd Qu.: 4968   3rd Qu.:4814   3rd Qu.:1.575   3rd Qu.:71.89
 Max.   :21198   Max.   :6315   Max.   :2.800   Max.   :73.60
     Murder          HS Grad          Frost             Area
 Min.   : 1.400   Min.   :37.80   Min.   :  0.00   Min.   :  1049
 1st Qu.: 4.350   1st Qu.:48.05   1st Qu.: 66.25   1st Qu.: 36985
 Median : 6.850   Median :53.25   Median :114.50   Median : 54277
 Mean   : 7.378   Mean   :53.11   Mean   :104.46   Mean   : 70736
 3rd Qu.:10.675   3rd Qu.:59.15   3rd Qu.:139.75   3rd Qu.: 81163
 Max.   :15.100   Max.   :67.30   Max.   :188.00   Max.   :566432

   days        temp          rain
 Fri :1   Min.   :21.00   Mode :logical
 Mon :1   1st Qu.:21.00   FALSE:1
 Thur:1   Median :22.20   TRUE :4
 Tue :1   Mean   :26.04   NA's :0
 Wed :1   3rd Qu.:23.00
          Max.   :43.00

#### data frame indexing and selection

In [62]:
df[1,]
df[,1]
df[1:3,c('days','temp')]
df$days
df$temp
subset(df, subset = rain == TRUE)
subset(df, subset = temp >22)
sorted <- order(df['temp']) ## retuens order vector
df[sorted, ]

  days temp rain
1 Mon  22.2 TRUE

[1] Mon  Tue  Wed  Thur Fri
Levels: Fri Mon Thur Tue Wed

  days temp
1 Mon  22.2
2 Tue  21.0
3 Wed  43.0

[1] Mon  Tue  Wed  Thur Fri
Levels: Fri Mon Thur Tue Wed

[1] 22.2 21.0 43.0 21.0 23.0

  days temp rain
1 Mon  22.2 TRUE
2 Tue  21.0 TRUE
4 Thur 21.0 TRUE
5 Fri  23.0 TRUE

  days temp rain
1 Mon  22.2  TRUE
3 Wed  43.0 FALSE
5 Fri  23.0  TRUE

  days temp rain
2 Tue  21.0  TRUE
4 Thur 21.0  TRUE
1 Mon  22.2  TRUE
5 Fri  23.0  TRUE
3 Wed  43.0 FALSE

####