### Math Functions

In [2]:
abs(-2)
v <- c(-2,-4,1,2)
abs(v)

round(2.344565,2)

[1] 2

[1] 2 4 1 2

[1] 2.34

In [10]:
Sys.Date()
class(Sys.Date())

c1  <- "1900-01-01"
as.Date(c1)

## error
as.Date("Nov-03-1990", format = "%b-%d-%y")

z <- strptime("20/2/06 11:16:16.683", "%d/%m/%y %H:%M:%OS")
z
help(as.Date)
help(strptime)

[1] "2017-06-02"

[1] "Date"

[1] "1900-01-01"

[1] "2019-11-03"

[1] "2006-02-20 11:16:16 EST"